* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  padding-top: 100px;
}
.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.accordion {
  width: 760px;
}
.accordion__item {
  border-bottom: 1px solid grey;
  pointer-events: none;
}
.accordion__title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: blue;
}
.accordion__body {
  width: 100%;
  text-align: center;
}
summary {
  list-style: none;
}
.labl {
  display: block;
  width: 760px;
  cursor: pointer;
}
.labl > input {
  visibility: hidden;
  position: absolute;
}
.labl > input + details {
  cursor: pointer;
}
.accordion__body {
  display: none;
}
label:hover .accordion__body {
  display: block;
}
.accordion:hover .accordion__title {
  color: black;
}
.accordion:hover summary {
  list-style-image: url(https://avatars.mds.yandex.net/i?id=6219cf3dfa778b5b917ac24b2560b17db1b0e92c-7084676-images-thumbs&ref=rim&n=33&w=20&h=20);
}
input:checked + details .accordion__body {
  display: block;
}
input:checked + details .accordion__title {
  color: black;
}
.accordion:hover input:checked + details summary {
  list-style-image: url(https://smpauthors.files.wordpress.com/2018/04/arrow.jpg?w=20&h=20);
}
label:hover .accordion__title {
  list-style-image: url(https://smpauthors.files.wordpress.com/2018/04/arrow.jpg?w=20&h=20);
}
